<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.yunqitong.mapper.TWxRecordMapper" >
  <resultMap id="BaseResultMap" type="cn.com.yunqitong.domain.TWxRecord" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="return_msg" property="returnMsg" jdbcType="VARCHAR" />
    <result column="device_info" property="deviceInfo" jdbcType="VARCHAR" />
    <result column="nonce_str" property="nonceStr" jdbcType="VARCHAR" />
    <result column="sign" property="sign" jdbcType="VARCHAR" />
    <result column="result_code" property="resultCode" jdbcType="VARCHAR" />
    <result column="err_code" property="errCode" jdbcType="VARCHAR" />
    <result column="err_code_msg" property="errCodeMsg" jdbcType="VARCHAR" />
    <result column="openid" property="openid" jdbcType="VARCHAR" />
    <result column="is_subscribe" property="isSubscribe" jdbcType="VARCHAR" />
    <result column="trade_type" property="tradeType" jdbcType="VARCHAR" />
    <result column="bank_type" property="bankType" jdbcType="VARCHAR" />
    <result column="total_fee" property="totalFee" jdbcType="INTEGER" />
    <result column="fee_type" property="feeType" jdbcType="VARCHAR" />
    <result column="cash_fee" property="cashFee" jdbcType="INTEGER" />
    <result column="cash_fee_type" property="cashFeeType" jdbcType="VARCHAR" />
    <result column="coupon_fee" property="couponFee" jdbcType="INTEGER" />
    <result column="coupon_count" property="couponCount" jdbcType="INTEGER" />
    <result column="coupon_id_$n" property="couponIdN" jdbcType="VARCHAR" />
    <result column="coupon_fee_$n" property="couponFeeN" jdbcType="INTEGER" />
    <result column="transaction_id" property="transactionId" jdbcType="VARCHAR" />
    <result column="out_trade_no" property="outTradeNo" jdbcType="VARCHAR" />
    <result column="attach" property="attach" jdbcType="VARCHAR" />
    <result column="time_end" property="timeEnd" jdbcType="VARCHAR" />
    <result column="updatetime" property="updatetime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, return_msg, device_info, nonce_str, sign, result_code, err_code, err_code_msg, 
    openid, is_subscribe, trade_type, bank_type, total_fee, fee_type, cash_fee, cash_fee_type, 
    coupon_fee, coupon_count, coupon_id_$n, coupon_fee_$n, transaction_id, out_trade_no, 
    attach, time_end, updatetime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.com.yunqitong.domain.TWxRecordExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_wx_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_wx_record
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_wx_record
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="cn.com.yunqitong.domain.TWxRecordExample" >
    delete from t_wx_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.com.yunqitong.domain.TWxRecord" >
    insert into t_wx_record (id, return_msg, device_info, 
      nonce_str, sign, result_code, 
      err_code, err_code_msg, openid, 
      is_subscribe, trade_type, bank_type, 
      total_fee, fee_type, cash_fee, 
      cash_fee_type, coupon_fee, coupon_count, 
      coupon_id_$n, coupon_fee_$n, transaction_id, 
      out_trade_no, attach, time_end, 
      updatetime)
    values (#{id,jdbcType=VARCHAR}, #{returnMsg,jdbcType=VARCHAR}, #{deviceInfo,jdbcType=VARCHAR}, 
      #{nonceStr,jdbcType=VARCHAR}, #{sign,jdbcType=VARCHAR}, #{resultCode,jdbcType=VARCHAR}, 
      #{errCode,jdbcType=VARCHAR}, #{errCodeMsg,jdbcType=VARCHAR}, #{openid,jdbcType=VARCHAR}, 
      #{isSubscribe,jdbcType=VARCHAR}, #{tradeType,jdbcType=VARCHAR}, #{bankType,jdbcType=VARCHAR}, 
      #{totalFee,jdbcType=INTEGER}, #{feeType,jdbcType=VARCHAR}, #{cashFee,jdbcType=INTEGER}, 
      #{cashFeeType,jdbcType=VARCHAR}, #{couponFee,jdbcType=INTEGER}, #{couponCount,jdbcType=INTEGER}, 
      #{couponIdN,jdbcType=VARCHAR}, #{couponFeeN,jdbcType=INTEGER}, #{transactionId,jdbcType=VARCHAR}, 
      #{outTradeNo,jdbcType=VARCHAR}, #{attach,jdbcType=VARCHAR}, #{timeEnd,jdbcType=VARCHAR}, 
      #{updatetime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.com.yunqitong.domain.TWxRecord" >
    insert into t_wx_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="returnMsg != null" >
        return_msg,
      </if>
      <if test="deviceInfo != null" >
        device_info,
      </if>
      <if test="nonceStr != null" >
        nonce_str,
      </if>
      <if test="sign != null" >
        sign,
      </if>
      <if test="resultCode != null" >
        result_code,
      </if>
      <if test="errCode != null" >
        err_code,
      </if>
      <if test="errCodeMsg != null" >
        err_code_msg,
      </if>
      <if test="openid != null" >
        openid,
      </if>
      <if test="isSubscribe != null" >
        is_subscribe,
      </if>
      <if test="tradeType != null" >
        trade_type,
      </if>
      <if test="bankType != null" >
        bank_type,
      </if>
      <if test="totalFee != null" >
        total_fee,
      </if>
      <if test="feeType != null" >
        fee_type,
      </if>
      <if test="cashFee != null" >
        cash_fee,
      </if>
      <if test="cashFeeType != null" >
        cash_fee_type,
      </if>
      <if test="couponFee != null" >
        coupon_fee,
      </if>
      <if test="couponCount != null" >
        coupon_count,
      </if>
      <if test="couponIdN != null" >
        coupon_id_$n,
      </if>
      <if test="couponFeeN != null" >
        coupon_fee_$n,
      </if>
      <if test="transactionId != null" >
        transaction_id,
      </if>
      <if test="outTradeNo != null" >
        out_trade_no,
      </if>
      <if test="attach != null" >
        attach,
      </if>
      <if test="timeEnd != null" >
        time_end,
      </if>
      <if test="updatetime != null" >
        updatetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="returnMsg != null" >
        #{returnMsg,jdbcType=VARCHAR},
      </if>
      <if test="deviceInfo != null" >
        #{deviceInfo,jdbcType=VARCHAR},
      </if>
      <if test="nonceStr != null" >
        #{nonceStr,jdbcType=VARCHAR},
      </if>
      <if test="sign != null" >
        #{sign,jdbcType=VARCHAR},
      </if>
      <if test="resultCode != null" >
        #{resultCode,jdbcType=VARCHAR},
      </if>
      <if test="errCode != null" >
        #{errCode,jdbcType=VARCHAR},
      </if>
      <if test="errCodeMsg != null" >
        #{errCodeMsg,jdbcType=VARCHAR},
      </if>
      <if test="openid != null" >
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="isSubscribe != null" >
        #{isSubscribe,jdbcType=VARCHAR},
      </if>
      <if test="tradeType != null" >
        #{tradeType,jdbcType=VARCHAR},
      </if>
      <if test="bankType != null" >
        #{bankType,jdbcType=VARCHAR},
      </if>
      <if test="totalFee != null" >
        #{totalFee,jdbcType=INTEGER},
      </if>
      <if test="feeType != null" >
        #{feeType,jdbcType=VARCHAR},
      </if>
      <if test="cashFee != null" >
        #{cashFee,jdbcType=INTEGER},
      </if>
      <if test="cashFeeType != null" >
        #{cashFeeType,jdbcType=VARCHAR},
      </if>
      <if test="couponFee != null" >
        #{couponFee,jdbcType=INTEGER},
      </if>
      <if test="couponCount != null" >
        #{couponCount,jdbcType=INTEGER},
      </if>
      <if test="couponIdN != null" >
        #{couponIdN,jdbcType=VARCHAR},
      </if>
      <if test="couponFeeN != null" >
        #{couponFeeN,jdbcType=INTEGER},
      </if>
      <if test="transactionId != null" >
        #{transactionId,jdbcType=VARCHAR},
      </if>
      <if test="outTradeNo != null" >
        #{outTradeNo,jdbcType=VARCHAR},
      </if>
      <if test="attach != null" >
        #{attach,jdbcType=VARCHAR},
      </if>
      <if test="timeEnd != null" >
        #{timeEnd,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.com.yunqitong.domain.TWxRecordExample" resultType="java.lang.Integer" >
    select count(*) from t_wx_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_wx_record
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.returnMsg != null" >
        return_msg = #{record.returnMsg,jdbcType=VARCHAR},
      </if>
      <if test="record.deviceInfo != null" >
        device_info = #{record.deviceInfo,jdbcType=VARCHAR},
      </if>
      <if test="record.nonceStr != null" >
        nonce_str = #{record.nonceStr,jdbcType=VARCHAR},
      </if>
      <if test="record.sign != null" >
        sign = #{record.sign,jdbcType=VARCHAR},
      </if>
      <if test="record.resultCode != null" >
        result_code = #{record.resultCode,jdbcType=VARCHAR},
      </if>
      <if test="record.errCode != null" >
        err_code = #{record.errCode,jdbcType=VARCHAR},
      </if>
      <if test="record.errCodeMsg != null" >
        err_code_msg = #{record.errCodeMsg,jdbcType=VARCHAR},
      </if>
      <if test="record.openid != null" >
        openid = #{record.openid,jdbcType=VARCHAR},
      </if>
      <if test="record.isSubscribe != null" >
        is_subscribe = #{record.isSubscribe,jdbcType=VARCHAR},
      </if>
      <if test="record.tradeType != null" >
        trade_type = #{record.tradeType,jdbcType=VARCHAR},
      </if>
      <if test="record.bankType != null" >
        bank_type = #{record.bankType,jdbcType=VARCHAR},
      </if>
      <if test="record.totalFee != null" >
        total_fee = #{record.totalFee,jdbcType=INTEGER},
      </if>
      <if test="record.feeType != null" >
        fee_type = #{record.feeType,jdbcType=VARCHAR},
      </if>
      <if test="record.cashFee != null" >
        cash_fee = #{record.cashFee,jdbcType=INTEGER},
      </if>
      <if test="record.cashFeeType != null" >
        cash_fee_type = #{record.cashFeeType,jdbcType=VARCHAR},
      </if>
      <if test="record.couponFee != null" >
        coupon_fee = #{record.couponFee,jdbcType=INTEGER},
      </if>
      <if test="record.couponCount != null" >
        coupon_count = #{record.couponCount,jdbcType=INTEGER},
      </if>
      <if test="record.couponIdN != null" >
        coupon_id_$n = #{record.couponIdN,jdbcType=VARCHAR},
      </if>
      <if test="record.couponFeeN != null" >
        coupon_fee_$n = #{record.couponFeeN,jdbcType=INTEGER},
      </if>
      <if test="record.transactionId != null" >
        transaction_id = #{record.transactionId,jdbcType=VARCHAR},
      </if>
      <if test="record.outTradeNo != null" >
        out_trade_no = #{record.outTradeNo,jdbcType=VARCHAR},
      </if>
      <if test="record.attach != null" >
        attach = #{record.attach,jdbcType=VARCHAR},
      </if>
      <if test="record.timeEnd != null" >
        time_end = #{record.timeEnd,jdbcType=VARCHAR},
      </if>
      <if test="record.updatetime != null" >
        updatetime = #{record.updatetime,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_wx_record
    set id = #{record.id,jdbcType=VARCHAR},
      return_msg = #{record.returnMsg,jdbcType=VARCHAR},
      device_info = #{record.deviceInfo,jdbcType=VARCHAR},
      nonce_str = #{record.nonceStr,jdbcType=VARCHAR},
      sign = #{record.sign,jdbcType=VARCHAR},
      result_code = #{record.resultCode,jdbcType=VARCHAR},
      err_code = #{record.errCode,jdbcType=VARCHAR},
      err_code_msg = #{record.errCodeMsg,jdbcType=VARCHAR},
      openid = #{record.openid,jdbcType=VARCHAR},
      is_subscribe = #{record.isSubscribe,jdbcType=VARCHAR},
      trade_type = #{record.tradeType,jdbcType=VARCHAR},
      bank_type = #{record.bankType,jdbcType=VARCHAR},
      total_fee = #{record.totalFee,jdbcType=INTEGER},
      fee_type = #{record.feeType,jdbcType=VARCHAR},
      cash_fee = #{record.cashFee,jdbcType=INTEGER},
      cash_fee_type = #{record.cashFeeType,jdbcType=VARCHAR},
      coupon_fee = #{record.couponFee,jdbcType=INTEGER},
      coupon_count = #{record.couponCount,jdbcType=INTEGER},
      coupon_id_$n = #{record.couponIdN,jdbcType=VARCHAR},
      coupon_fee_$n = #{record.couponFeeN,jdbcType=INTEGER},
      transaction_id = #{record.transactionId,jdbcType=VARCHAR},
      out_trade_no = #{record.outTradeNo,jdbcType=VARCHAR},
      attach = #{record.attach,jdbcType=VARCHAR},
      time_end = #{record.timeEnd,jdbcType=VARCHAR},
      updatetime = #{record.updatetime,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.yunqitong.domain.TWxRecord" >
    update t_wx_record
    <set >
      <if test="returnMsg != null" >
        return_msg = #{returnMsg,jdbcType=VARCHAR},
      </if>
      <if test="deviceInfo != null" >
        device_info = #{deviceInfo,jdbcType=VARCHAR},
      </if>
      <if test="nonceStr != null" >
        nonce_str = #{nonceStr,jdbcType=VARCHAR},
      </if>
      <if test="sign != null" >
        sign = #{sign,jdbcType=VARCHAR},
      </if>
      <if test="resultCode != null" >
        result_code = #{resultCode,jdbcType=VARCHAR},
      </if>
      <if test="errCode != null" >
        err_code = #{errCode,jdbcType=VARCHAR},
      </if>
      <if test="errCodeMsg != null" >
        err_code_msg = #{errCodeMsg,jdbcType=VARCHAR},
      </if>
      <if test="openid != null" >
        openid = #{openid,jdbcType=VARCHAR},
      </if>
      <if test="isSubscribe != null" >
        is_subscribe = #{isSubscribe,jdbcType=VARCHAR},
      </if>
      <if test="tradeType != null" >
        trade_type = #{tradeType,jdbcType=VARCHAR},
      </if>
      <if test="bankType != null" >
        bank_type = #{bankType,jdbcType=VARCHAR},
      </if>
      <if test="totalFee != null" >
        total_fee = #{totalFee,jdbcType=INTEGER},
      </if>
      <if test="feeType != null" >
        fee_type = #{feeType,jdbcType=VARCHAR},
      </if>
      <if test="cashFee != null" >
        cash_fee = #{cashFee,jdbcType=INTEGER},
      </if>
      <if test="cashFeeType != null" >
        cash_fee_type = #{cashFeeType,jdbcType=VARCHAR},
      </if>
      <if test="couponFee != null" >
        coupon_fee = #{couponFee,jdbcType=INTEGER},
      </if>
      <if test="couponCount != null" >
        coupon_count = #{couponCount,jdbcType=INTEGER},
      </if>
      <if test="couponIdN != null" >
        coupon_id_$n = #{couponIdN,jdbcType=VARCHAR},
      </if>
      <if test="couponFeeN != null" >
        coupon_fee_$n = #{couponFeeN,jdbcType=INTEGER},
      </if>
      <if test="transactionId != null" >
        transaction_id = #{transactionId,jdbcType=VARCHAR},
      </if>
      <if test="outTradeNo != null" >
        out_trade_no = #{outTradeNo,jdbcType=VARCHAR},
      </if>
      <if test="attach != null" >
        attach = #{attach,jdbcType=VARCHAR},
      </if>
      <if test="timeEnd != null" >
        time_end = #{timeEnd,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        updatetime = #{updatetime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.yunqitong.domain.TWxRecord" >
    update t_wx_record
    set return_msg = #{returnMsg,jdbcType=VARCHAR},
      device_info = #{deviceInfo,jdbcType=VARCHAR},
      nonce_str = #{nonceStr,jdbcType=VARCHAR},
      sign = #{sign,jdbcType=VARCHAR},
      result_code = #{resultCode,jdbcType=VARCHAR},
      err_code = #{errCode,jdbcType=VARCHAR},
      err_code_msg = #{errCodeMsg,jdbcType=VARCHAR},
      openid = #{openid,jdbcType=VARCHAR},
      is_subscribe = #{isSubscribe,jdbcType=VARCHAR},
      trade_type = #{tradeType,jdbcType=VARCHAR},
      bank_type = #{bankType,jdbcType=VARCHAR},
      total_fee = #{totalFee,jdbcType=INTEGER},
      fee_type = #{feeType,jdbcType=VARCHAR},
      cash_fee = #{cashFee,jdbcType=INTEGER},
      cash_fee_type = #{cashFeeType,jdbcType=VARCHAR},
      coupon_fee = #{couponFee,jdbcType=INTEGER},
      coupon_count = #{couponCount,jdbcType=INTEGER},
      coupon_id_$n = #{couponIdN,jdbcType=VARCHAR},
      coupon_fee_$n = #{couponFeeN,jdbcType=INTEGER},
      transaction_id = #{transactionId,jdbcType=VARCHAR},
      out_trade_no = #{outTradeNo,jdbcType=VARCHAR},
      attach = #{attach,jdbcType=VARCHAR},
      time_end = #{timeEnd,jdbcType=VARCHAR},
      updatetime = #{updatetime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>